{% extends 'base.html' %}

{% block conteudo %}

    <form action="#" method="post" class="create">
        <h1>Cadastro de usuario</h1>

        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="usuario@dominio.com" autocomplete="off" required>
        
        <label for="nome">Nome de usuario</label>
        <input type="text" name="nome" id="nome" placeholder="Nome de usuario" autocomplete="off" required>
        
        <label for="permissao">Permissao</label>
        <select name="permissao" id="permissao">
            <option value="2">Comum</option>
            <option value="1">Admin</option>
        </select>

        <label for="passowrd">Senha</label>
        <input type="password" name="password_hash" id="password" placeholder="Digite sua senha" autocomplete="off" required>
        
        <input type="submit" value="Cadastrar">
    </form>

{% endblock conteudo %}