<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post">
        <input type="email" name="email" id="email" placeholder="usuario@dominio.com">
        <input type="text" name="nome" id="nome" placeholder="Nome de usuario">
        <input type="number" name="idade" id="idade" placeholder="Idade">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>